.footer_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 10rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 2rem 5%;
    background-color: transparent;
    color: white;
}

.footer_column1 .footer_column2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
}

.footer_column1 h2 {
    margin-bottom: 1rem;
}

.footer_column2 h2 {
    margin-bottom: 1rem;
}

.footer-socials {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    height: auto;
}

.footer-icon_container {
    display: flex;
    width: 100%;
    height: auto;
    transition: tansform 0.3s ease-in-out;
}

.footer-icon_container img {
    width: 2rem;
    height: auto;
    object-fit: cover;
}

.footer-icon_container:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .footer_container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        height: auto;
    }

    .footer_container {
        gap: 2rem;
    }

    .footer_column1 {
        order: 2;
    }

    .footer_colum21 {
        order: 1;
    }

    .footer-icon_container {
        display: flex;
        width: 2rem;
        height: auto;
    }
}
