.hero_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 30rem;
    max-height: 120rem;
    position: relative;
    background-position: center;
    font-family: Tahoma, sans-serif;
    color: white;
}

.hero-socials {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.header-button_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.hero_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}