.hero_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 30rem;
    max-height: 120rem;
    margin-top: 2rem;
    position: relative;
    background-position: center;
    font-family: Tahoma, sans-serif;
    color: white;
}

.hero_container::after {
    content: "";
    display: block;
    width: 60%;
    height: 1px;
    margin-top: 5rem;
    background-color: #5a0075;
}

.hero_image {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}

.hero_image img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 100%;
    border: 1px solid #5a0075;
    box-shadow: 0 0 10px #5a0075;
}

.hero-socials {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.header-button_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.hero_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .1rem;
}