.skills_container {
    display: flex;
    overflow: hidden;
    padding: .5rem 0;
    background: transparent;
}

.skills_slider {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    animation: 16s slide infinite linear;
}

.skill {
    height: auto;
    font-family: Tahoma, sans-serif;
    color: white;
    margin: 0 5rem;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
