.skills_container {
    position: relative;
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    height: 2rem;
    padding: 1rem 0;
    background-color: transparent;
}

.skills_slider {
    position: absolute;
    display: flex;
    width: auto; /* Make sure this is auto so it expands with the content */
    animation: slide 20s linear infinite;
}

.skill {
    font-family: Tahoma, sans-serif;
    color: white;
    margin: 0 5rem; /* Adjust margin as necessary */
}

@keyframes slide {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); } /* This should match the actual width of your content */
}
